{% extends 'base.html' %}

{% block title %}
About
{% endblock %}

{% block content %}



<h1>
    <b>Flask Demo Project: CRUD, Authentication, and File Handling</b>
</h1>

<p>
A hands-on demonstration of Python's Flask framework, showcasing core web development skills including CRUD operations (Create, Read, Update, Delete) with SQLAlchemy, user authentication via session management, secure file uploads, and template rendering with Jinja2 and Bootstrap.
</p>

<p>
    Author: <a href="https://github.com/stepanovcpp" target="_blank">GitHub stepanovcpp</a>
</p>

{% endblock %}